@import 'RecipesIndex.css';

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.mt10{
   margin-top: 10px;
}
.ml10{
   margin-left: 10px;
}
.ml5{
    margin-left: 5px;
}

.add-tag{
    padding: 6px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    cursor:pointer;
}

.new-tag-section{
    background: rgba(76, 175, 80, 0.07058823529411765);
    position: relative;
}

.close-tag-section{
    position: absolute;
    right: 10px;
    top: 4px;
    font-size: 25px;
    color: #f44336ab;
    cursor: pointer;
}

.create-new-tag{
    margin-bottom: 10px;
    font-size: 17px;
    color: green;
}

.hidden{
    display:none;
}

.flex{
    display: flex;
    align-items: baseline;
}

/* RECIPE MODAL RELATED */

#new-recipe-title{
    color: rgb(3, 169, 244);
    cursor: pointer;
}

#new-recipe-picture{
     width: 100%;
}

#new-recipe-description{
    margin-top: 10px;
}

.recipe-details{
    margin-top:20px;
}

.recipe-details{
    margin-top:20px;
}

.recipe-author{
    margin-left: 8px;
    color: #03A9F4;
    font-size: 17px;
}

.recipe-details-row{
    margin-bottom: 15px;
}

.recipe-ingridients{
    white-space: pre-line;
    position: relative;
    top: -20px;
}

.recipe-image-changer{
    cursor:pointer;
}
.recipe-image-changer:hover{
    transform:scale(1.1);
}

#image-selector{
    display:none;
}

.index-logo {
    width: 60vw;
    height: auto;
}

.nav-logo {
    border-radius: 5px;
    width: 30px;
    margin-top: 4px;
}

.w3-container {
    padding: 5vh;
}

/* NIKO CSS */

.my-recipes-container{
    display:flex;
    flex-wrap:wrap;
}

.my-recipe{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.card{
     background: #fff;
      border-radius: 2px;
      display: inline-block;
      min-height: 200px;
      margin: 1rem;
      position: relative;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.my-recipe-image{
    width: 100%;
}

.my-recipe-title{
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 5px;
    color: grey;
}

.my-recipe-description{
    padding: 10px;
    margin-bottom: 10px;
}

.tags-container{
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: baseline;
}

.tags-container h3 {
    margin-right: 15px;
}

.my-tag{
    margin-right: 5px;
    cursor: pointer;
}

.my-tag{
    color: #2196F3;
}

.my-tag:not(:last-child)::after { 
    content: ", ";
}

.new-recipe-creator{
    display: flex;
    justify-content: space-between;
    width: 93%;
    align-items: center;
}

.new-recipe-creator a{

}

.mt50{
    margin-top: 20px;
}

.max-form-width{
    max-width: none !important;
}

input, select, textarea {
    max-width: none !important;
}

textarea {
    width: 100% !important;
}

@media (max-width: 699px) {
    .my-recipe{
        width: 100%;
    }

    .body{
        max-width:699px;
    }
}

@media (min-width: 700px) {
    .my-recipe{
        width: 45%;
    }
}

@media (min-width: 950px) {
    .my-recipe{
        width: 29%;
    }
}

@media (min-width: 1500px) {
    .my-recipe{
        width: 21%;
    }
}