<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    New Recipe:
                    <a href="" class="new-recipe-link">
                        <span id="new-recipe-title">Recipe Title</span>
                    </a>
                </h4>
            </div>
            <div class="modal-body">
                <a href="" class="new-recipe-link">
                    <img id="new-recipe-picture" src="http://via.placeholder.com/550x250" alt="Alternate Text" />
                </a>
                <p id="new-recipe-description"></p>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-primary new-recipe-link">Check it out!</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>