@{
    ViewBag.Title = "Home Page";
}

<div class="w3-container">
    <img src="~/Content/logo.png" class="index-logo" />

</div>



<div class="row">
    <div class="col-md-4">
        <h2>Explore!</h2>
        <p>Discover existing recipes</p>
        <p><a class="w3-button w3-round-large w3-light-blue w3-hover-blue" href="/Recipes">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Favourite Cousine?</h2>
        <p>Discover recipes based on tags</p>
        <p><a class="w3-button w3-round-large w3-light-blue w3-hover-blue" href="/Recipes">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Involved!</h2>
        <p>Share your own recipes with other users</p>
        <p><a class="w3-button w3-round-large w3-light-blue w3-hover-blue" href="/Recipes/Create">Go &raquo;</a></p>
    </div>
</div>